<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.coderyjc.certificate.mapper.CertificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.coderyjc.certificate.model.entity.Certification">
        <id column="id" property="id" />
        <result column="idenfication_id" property="idenficationId" />
        <result column="name" property="name" />
        <result column="interview_year" property="interviewYear" />
        <result column="qualification_id" property="qualificationId" />
        <result column="major" property="major" />
        <result column="validate_time" property="validateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, idenfication_id, name, interview_year, qualification_id, major, validate_time
    </sql>

    <select id="getInterviewYearList" resultType="java.lang.String">
        select interview_year from tbl_certification group by interview_year order by interview_year desc limit 5
    </select>
    <select id="listAllInterviewYears" resultType="java.lang.Integer">
        select interview_year
        from tbl_certification
        group by  interview_year
        order by  interview_year desc
        limit ${limit}
    </select>
    <select id="listAllValidateYears" resultType="java.lang.String">
        select validate_date
        from tbl_certification
        group by  validate_date
        order by  validate_date desc
        limit ${limit};
    </select>
    <select id="countOneColumnByYear"
            resultType="top.coderyjc.certificate.model.dto.CertificationStatisticDTO">
        select ${column}, count(${column}) as count
        from tbl_certification
        where interview_year=${interviewYear}
        group by ${column}
        order by ${column};
    </select>
    <select id="countTwoColumnsByYear"
            resultType="top.coderyjc.certificate.model.dto.CertificationStatisticDTO">
        select ${column1}, ${column2}, count(${column1}) as count
        from tbl_certification
        where interview_year=${interviewYear}
        group by ${column1}, ${column2}
        order by ${column1}, ${column2};
    </select>
    <select id="countColumnByYears" resultType="top.coderyjc.certificate.model.dto.CertificationStatisticDTO">
        select interview_year, ${column} , count(interview_year) as count
        from tbl_certification
        where interview_year between ${interviewStartYear} and ${interviewEndYear}
        group by interview_year, ${column}
        order by interview_year
    </select>

</mapper>
