<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.coderyjc.certificate.mapper.WrittenStatisticMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.coderyjc.certificate.model.entity.WrittenStatistic">
        <result column="year" property="year" />
        <result column="education_average_score" property="educationAverageScore" />
        <result column="education_pass_rate" property="educationPassRate" />
        <result column="psychology_average_score" property="psychologyAverageScore" />
        <result column="psychology_pass_rate" property="psychologyPassRate" />
        <result column="ethic_average_score" property="ethicAverageScore" />
        <result column="ethic_pass_rate" property="ethicPassRate" />
        <result column="pass_rate" property="passRate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        year, education_average_score, education_pass_rate, psychology_average_score, psychology_pass_rate, ethic_average_score, ethic_pass_rate, pass_rate
    </sql>
    <update id="updateEducation">
        update tbl_written_statistic set education_pass_rate = (select 100 * count(id) / (select count(id) from tbl_written_score where exam_date = ${year}) rate
        from tbl_written_score tws
        where tws.education_score > ${educationPassScore} and tws.exam_date = ${year})
        where year=${year}
    </update>
    <update id="updatePsychology">
        update tbl_written_statistic set psychology_pass_rate = (select 100 * count(id) / (select count(id) from tbl_written_score where exam_date = ${year}) rate
        from tbl_written_score tws
        where tws.education_psychology_score > ${psychologyPassScore} and tws.exam_date = ${year})
        where year=${year}
    </update>
    <update id="updateEthic">
        update tbl_written_statistic set ethic_pass_rate = (select 100 * count(id) / (select count(id) from tbl_written_score where exam_date = ${year}) rate
        from tbl_written_score tws
        where tws.professional_ethic_score > ${ethicPassScore} and tws.exam_date = ${year})
        where year=${year}
    </update>
    <update id="calculateEducationAverage">
        update tbl_written_statistic ts, (
            select exam_date, avg(education_score) as education_average_score
            from tbl_written_score
            where education_status = '正常'
            group by exam_date) t
        set ts.education_average_score=t.education_average_score
        where t.exam_date=ts.year;
    </update>
    <update id="calculatePsychologyAverage">
        update tbl_written_statistic ts, (
            select exam_date, avg(education_psychology_score) as psychology_average_score
            from tbl_written_score
            where education_psychology_status = '正常'
            group by exam_date) t
        set ts.psychology_average_score=t.psychology_average_score
        where t.exam_date=ts.year;
    </update>
    <update id="calculateEthicAverage">
        update tbl_written_statistic ts, (
            select exam_date, avg(professional_ethic_score) as ethic_average_score
            from tbl_written_score
            where professional_ethic_status = '正常'
            group by exam_date) t
        set ts.ethic_average_score=t.ethic_average_score
        where t.exam_date=ts.year;
    </update>

</mapper>
