<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.coderyjc.certification.mapper.InterviewScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.coderyjc.certification.entity.InterviewScore">
        <id column="id" property="id" />
        <result column="测试点" property="测试点" />
        <result column="姓名" property="姓名" />
        <result column="身份证号" property="身份证号" />
        <result column="工作单位" property="工作单位" />
        <result column="申请专业" property="申请专业" />
        <result column="等级" property="等级" />
        <result column="考试时间" property="考试时间" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, 测试点, 姓名, 身份证号, 工作单位, 申请专业, 等级, 考试时间
    </sql>

</mapper>
