<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.coderyjc.certification.mapper.WrittenScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.coderyjc.certification.entity.WrittenScore">
        <id column="id" property="id" />
        <result column="姓名" property="姓名" />
        <result column="准考证号" property="准考证号" />
        <result column="身份证号" property="身份证号" />
        <result column="教育学成绩" property="教育学成绩" />
        <result column="教育心理学成绩" property="教育心理学成绩" />
        <result column="职业道德修养和高等教育法规成绩" property="职业道德修养和高等教育法规成绩" />
        <result column="教育学考试状态" property="教育学考试状态" />
        <result column="教育心理学考试状态" property="教育心理学考试状态" />
        <result column="职业道德修养和高等教育法规状态" property="职业道德修养和高等教育法规状态" />
        <result column="工作单位" property="工作单位" />
        <result column="考试时间" property="考试时间" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, 姓名, 准考证号, 身份证号, 教育学成绩, 教育心理学成绩, 职业道德修养和高等教育法规成绩, 教育学考试状态, 教育心理学考试状态, 职业道德修养和高等教育法规状态, 工作单位, 考试时间
    </sql>

</mapper>
